Repository cloudfoundry/app-autoscaler-release, pull requests merged in 2022-12, with the labels that each got.

#1126 (chore) fix java deprecations
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ZonedDateTimeTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataDbUtil.java
Labels: chore, allow-acceptance-tests

#1096 use buildpack option as var (instead the one defined in app manifest)
  src/acceptance/assets/app/nodeApp/app_manifest.yml
Labels: chore, allow-acceptance-tests

#1136 Fixing initialisation of variables
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Labels: exclude-from-changelog, allow-acceptance-tests

#1134 Eventgenerator as CF App docs
  docs/migrate-eventgenerator-to-cf-app.md
Labels: chore, allow-acceptance-tests

#1138 Refactor eventgenerator client
  src/acceptance/assets/app/nodeApp/app.js
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/fakes/fake_grpc.go
  src/autoscaler/fakes/fake_log_cache_creator.go
  src/autoscaler/fakes/fake_metric_forwarder.go
  src/autoscaler/fakes/fake_metric_server_creator_creator.go
  src/autoscaler/fakes/fake_tls_config.go
  src/autoscaler/fakes/fakes.go
  src/autoscaler/models/uaa_creds.go
Labels: allow-acceptance-tests

#1156 Revert prometheus deployment with ubuntu-jammy change
  ci/infrastructure/scripts/deploy-prometheus.sh
Labels: exclude-from-changelog, allow-acceptance-tests

#1171 Fix #1059: Tweak the mem util test limits to work on more environments
  src/acceptance/app/dynamic_policy_test.go
Labels: bug, allow-acceptance-tests

#1125 improve some logging
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/eventgenerator/generator/evaluator.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
Labels: allow-acceptance-tests

#1180 Fix debug output formatting in acceptance tests
  src/acceptance/helpers/debug.go
Labels: allow-acceptance-tests

#1181 Fix for memory uiltisation ooming in some environments
  src/acceptance/app/dynamic_policy_test.go
  src/autoscaler/integration/integration_suite_test.go
Labels: allow-acceptance-tests

#1179 Fix dropping the threshold to scale in the memutil acceptance test
  src/acceptance/app/dynamic_policy_test.go
Labels: allow-acceptance-tests

#1158 Added new properties to scheduler props to enable any customisation of spring properties
  .tool-versions
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/scheduler/spec
  jobs/scheduler/templates/application.properties.erb
  operations/enable-scheduler-logging.yml
  spec/jobs/scheduler/scheduler_spec.rb
  src/scheduler/src/main/resources/application.properties
Labels: allow-acceptance-tests

#1187 Moving recurring schedule policy test to integrate with cpu to stablise it
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/helpers/helpers.go
Labels: bug, allow-acceptance-tests

#968 Switch from `lib/pq` to `jackc/pgx`
  .golangci.yaml
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/pre-start.erb
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/cred_helper/custom_metrics_cred_helper.go
  src/autoscaler/cred_helper/custom_metrics_cred_helper_test.go
  src/autoscaler/cred_helper/interface.go
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/db/db.go
  src/autoscaler/db/helper_test.go
  src/autoscaler/db/sqldb/appmetric_sqldb.go
  src/autoscaler/db/sqldb/appmetric_sqldb_test.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/instancemetrics_sqldb.go
  src/autoscaler/db/sqldb/instancemetrics_sqldb_test.go
  src/autoscaler/db/sqldb/lock_sqldb.go
  src/autoscaler/db/sqldb/lock_sqldb_test.go
  src/autoscaler/db/sqldb/policy_sqldb.go
  src/autoscaler/db/sqldb/policy_sqldb_test.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/db/sqldb/scalingengine_sqldb_test.go
  src/autoscaler/db/sqldb/scheduler_sqldb.go
  src/autoscaler/db/sqldb/scheduler_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb_test.go
  src/autoscaler/fakes/fake_credentials.go
  src/autoscaler/fakes/fake_storedprocedure_db.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/metricsforwarder/server/auth/basic_auth.go
  src/autoscaler/metricsforwarder/server/server_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/metrics.go
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
  src/changeloglockcleaner/sqldb/changelogdb.go
  src/changeloglockcleaner/sqldb/changelogdb_test.go
  src/changeloglockcleaner/sqldb/helper.go
  src/changeloglockcleaner/sqldb/helper_test.go
  src/changeloglockcleaner/sqldb/sqldb_suite_test.go
Labels: chore, allow-acceptance-tests

#1208 Improving acceptance test step information for better diagnosis
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/helpers/helpers.go
Labels: exclude-from-changelog, allow-acceptance-tests

#1223 Remove usage of deprecated `cfhttp` package
  .golangci.yaml
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/eventgen_handler.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/handlers/handler_helpers_suite_test.go
  src/autoscaler/helpers/handlers/handlers.go
  src/autoscaler/helpers/handlers/handlers_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsserver/cmd/metricsserver/main.go
  src/autoscaler/metricsserver/collector/metric_handler.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/ratelimiter/rate_limiter_middleware.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/server/scaling_handler.go
Labels: allow-acceptance-tests
