Repository cloudfoundry/app-autoscaler-release, pull requests merged in 2022-06, with the labels that each got.

#692 Autoscaler name-based deployments with Github Actions
  .github/README.md
  .github/actions/acceptance_tests_common/action.yaml
  .github/actions/setup_go/action.yaml
  .github/actions/setup_java/action.yaml
  .github/test/acceptance_test.example.secrets
  .github/test/event.json
  .github/workflows/acceptance_tests.yaml
  .github/workflows/install_cli.sh
  .tool-versions
  example/operation/enable-name-based-deployments.yml
  example/operation/set-release-version.yml
  scripts/act_acceptance.sh
  scripts/deploy_pr.sh
  scripts/pr-vars.source.sh
  src/acceptance/acceptance_config.json.go
  src/acceptance/api/api_suite_test.go
  src/acceptance/api/api_test.go
  src/acceptance/api/basic_auth_test.go
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/assets/app/nodeApp/app.js
  src/acceptance/assets/app/nodeApp/app_manifest.yml
  src/acceptance/broker/broker_test.go
  src/acceptance/cleanup.sh
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/helpers.go
  src/acceptance/pre_upgrade/pre_dynamic_policy_test.go
  templates/app-autoscaler-deployment.yml
Labels: chore, allow-acceptance-tests

#698 updating scripts for cleanup
  .github/workflows/acceptance_tests.yaml
  scripts/pr-vars.source.sh
  src/acceptance/cleanup.sh
Labels: allow-acceptance-tests

#705 Fixing issue with Acceptence tests running on adding random labels
  .github/test/lableled_allow-acceptance-tests_event.json
  .github/test/lableled_bug_event.json
  .github/test/lableled_depenencies_event.json
  .github/test/opened_event.json
  .github/test/opened_nolable_event.json
  .github/test/synchronise_event.json
  .github/test/synchronise_labeled-dependencies_event.json
  .github/workflows/acceptance_tests.yaml
  example/operation/enable-name-based-deployments.yml
Labels: bug, dependencies, exclude-from-changelog, allow-acceptance-tests

#709 Cleanup acceptance tests after closed PR
  .github/test/closed_event.json
  .github/workflows/acceptance_tests_close.yaml
Labels: allow-acceptance-tests
