Repository cloudfoundry/app-autoscaler-release, pull requests merged in 2023-05, with the labels that each got.

#1703 Add info of download-path for the droplet of the app 'deleteme'.
  .gitignore
  flake.lock
  flake.nix
  src/acceptance/assets/app/go_app/.gitignore
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/helpers/apps.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/autoscaler/Makefile
Labels: allow-acceptance-tests

#1737 Add missing call of garbage-collection for memory-tests.
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
Labels: bug, allow-acceptance-tests

#1741 Add hint regarding LD_PRELOAD-Trick;
  flake.lock
  flake.nix
Labels: allow-acceptance-tests

#1626 API routes documentation for GolangAPIServer
  docs/images/apis/autoscaler-api-server-apis.drawio.svg
Labels: chore
