Repository cloudfoundry/app-autoscaler-release, pull requests merged in 2024-05, with the labels that each got.

#2854 Remove Smoke Label from MemoryUsed Acceptance Test
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/app/dynamic_policy_test.go
Labels: chore, allow-acceptance-tests

#2916 feat! Remove `buildin` mode
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/set-pipeline.sh
  example/operation/use_buildin_mode.yml
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  operations/use_buildin_mode.yml
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/invalid_config.yml
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/api/exampleconfig/config.yml
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/routes/routes.go
  templates/app-autoscaler-deployment.yml
  templates/app-autoscaler.yml
Labels: breaking-change, allow-acceptance-tests

#2914 feat(deps): Add `devbox` config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .envrc
  .github/workflows/asdf2devbox.yaml
  .tool-versions
  devbox.json
  devbox.lock
  local-flake/flake.lock
  local-flake/flake.nix
  renovate.json
  scripts/asdf2devbox.py
Labels: dependencies, exclude-from-changelog

#2921 feat(direnv): Check if `devbox` is installed before invoking it
  .envrc
  flake.lock
  flake.nix
Labels: bug, exclude-from-changelog, allow-acceptance-tests

#2909 fix(operator): Clean up scaling cooldowns
  .envrc
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/db/sqldb/scalingengine_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/operator/scalingenginedb.go
  src/autoscaler/operator/scalingenginedb_test.go
Labels: allow-acceptance-tests

#2942 fix(devbox): Downgrade `bosh-cli` so that `make deploy-autoscaler` works on macOS
  .tool-versions
  devbox.json
  devbox.lock
  renovate.json
Labels: bug, exclude-from-changelog, allow-acceptance-tests

#2866 feat(otel): Setup OpenTelemetry in all microservices
  packages/eventgenerator/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/helpers/opentelemetry.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/main.go
  src/autoscaler/metricsserver/cmd/metricsserver/main.go
  src/autoscaler/metricsserver/collector/server.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
Labels: allow-acceptance-tests

#2941 fix(acceptance-tests): reduce load during `throughput`- and `responsetime`-tests
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
Labels: bug, exclude-from-changelog, allow-acceptance-tests

#2953 fix(acceptance): use CF API to check if broker exists instead of `grep`ping from `cf`-cli
  ci/autoscaler/scripts/register-broker.sh
Labels: bug, exclude-from-changelog, allow-acceptance-tests

#2938 fix(acceptance): fix naming of plan update tests names
  src/acceptance/bin/test_default
  src/acceptance/broker/broker_test.go
Labels: allow-acceptance-tests

#2963 fix(acceptance): Remove smoke test label from `cf_metadata_test`
  src/acceptance/app/cf_metadata_test.go
Labels: bug, allow-acceptance-tests

#2913 Enable Syslog for metricsforwarder
  .github/workflows/acceptance_tests_reusable.yaml
  .gitignore
  .tool-versions
  Makefile
  README.md
  ci/Makefile
  ci/README.md
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/set-pipeline.sh
  ci/scripts/unpause-pipeline.sh
  devbox.json
  devbox.lock
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  jobs/metricsforwarder/templates/syslog_client.crt.erb
  jobs/metricsforwarder/templates/syslog_client.key.erb
  jobs/metricsforwarder/templates/syslog_client_ca.crt.erb
  operations/enable-metricsforwarder-via-metron-agent.yml
  operations/enable-metricsforwarder-via-syslog-agent.yml
  packages/metricsforwarder/spec
  scripts/asdf2devbox.py
  scripts/generate_test_certs.sh
  scripts/sync-package-specs
  spec/fixtures/metricsforwarder.yml
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter_test.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
  src/changelog/Makefile
Labels: dependencies, allow-acceptance-tests
