Repository cloudfoundry/app-autoscaler-release, pull requests merged in 2024-04, with the labels that each got.

#2809 fix(go_app): fix CPU usage by test app
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/internal/app/c_clock.go
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/cpuInfo.go
  src/acceptance/assets/app/go_app/internal/app/cpu_test.go
Labels: bug, allow-acceptance-tests

#2808 feat(cpuutil): support `cpuutil` also for deployments using loggregator
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/helpers/debug.go
  src/autoscaler/metricsgateway/nozzle.go
  src/autoscaler/metricsgateway/nozzle_test.go
Labels: enhancement, allow-acceptance-tests

#2826 fix(acceptance-tests): compile test suites and ginkgo cli for
  Makefile
  scripts/compile-acceptance-tests.sh
  src/acceptance/bin/test
Labels: bug, allow-acceptance-tests

#2742 Fix Custom Metrics Acceptance Test (mTLS)
  src/acceptance/app/custom_metric_test.go
Labels: bug, allow-acceptance-tests

#2811 feat(disk, diskutil): Add new metric type `disk` and `diskutil`
  api/shared_definitions.yaml
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/assets/app/go_app/internal/app/app.go
  src/acceptance/assets/app/go_app/internal/app/app_test.go
  src/acceptance/assets/app/go_app/internal/app/disk.go
  src/acceptance/assets/app/go_app/internal/app/disk_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/debug.go
  src/acceptance/post_upgrade/post_dynamic_policy_test.go
  src/acceptance/pre_upgrade/pre_dynamic_policy_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/models/metrics.go
Labels: enhancement, allow-acceptance-tests

#2847 chore(ci): Run unit and integration tests using make
  ci/autoscaler/scripts/run-integration-tests.sh
  ci/autoscaler/scripts/run-unit-tests.sh
Labels: chore, exclude-from-changelog, allow-acceptance-tests

#2845 fix(ci): Add auto-approve step for PRs by renovate[bot
  .github/workflows/dependency-updates-post-processing.yaml
Labels: dependencies

#2842 Revert "Update golang version to 1.21.5"
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Labels: dependencies, exclude-from-changelog

#2852 fix(ci): Trust checkout before calling git
  .github/workflows/dependency-updates-post-processing.yaml
Labels: allow-acceptance-tests

#2855 Revert "created release v12.2.0"
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-12.2.0.yml
  releases/app-autoscaler/index.yml
Labels: bug, allow-acceptance-tests

#2848 fix(cpu_test): Give more tolerance on CI for CPU test
  src/acceptance/assets/app/go_app/internal/app/cpu_test.go
Labels: exclude-from-changelog, allow-acceptance-tests

#2859 chore(release): sign commits during release
  .gitignore
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
  ci/autoscaler/tasks/release-autoscaler.yml
  ci/autoscaler/tasks/update-sdk/task.yml
  ci/infrastructure/pipeline.yml
Labels: chore, allow-acceptance-tests

#2861 chore(deps): Update `cfhttp/v2`
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Labels: dependencies

#2864 fix(release): use deploy keys for git-resources
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/task.yml
  ci/infrastructure/pipeline.yml
Labels: bug, allow-acceptance-tests

#2890 fix(eventgenerator): use PromQL API for metric types `throughput` and `responsetime`
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Labels: bug, allow-acceptance-tests
